{% extends 'base.html.twig' %} {% block title %}Accueil{% endblock %} {% block body %} {% if app.user %}

<h1>Tableau de bord</h1>
<h2 class="mt-5">Évènement à venir :</h2>
<div class="loadingBar bg-success"></div>
<div class="wrap">
    {% if app.user.roles[0] == "ROLE_PROF" %} {% for event in app.user.evenements %}
    <div class="card bg-secondary mb-3 card-me" style="max-width: 20rem;" id="card{{event.id}}">
        <div class="card-header">{{event.type.nomtype}}
            <i class="fa-solid fa-xmark delete" onclick="deleteEvent('{{event.id}}');"></i>
            <a href="{{path('remplacement', {'id': event.id})}}"><i class="fa-solid fa-user-xmark replace"></i></a>
        </div>
        <div class="card-body">
            <p class="card-text">{{event.type.description}}</p>
            <p class="card-text">Adresse : {{event.lieu.adresseLieu}}</p>
            <p class="card-text size">Le {{event.dateEvent|date("d/m/Y")}}</p>
            <div class="form-inline">
                <a href="{{path('edit_event', {'id':event.id})}}" class="btn btn-primary btn-sm m-2">Modifier</a>
                <a href="{{path('detail', {'id':event.id})}}" class="btn btn-success btn-sm m-2">Détails</a>
            </div>
        </div>
    </div>

    {% endfor %} {% endif %} {% if app.user.roles[0] == "ROLE_ELEVE" %}{% for event in app.user.Participations %}

    <div class="card bg-secondary mb-3 card-me" style="max-width: 20rem;" id="card{{event.id}}">
        <div class="card-header">{{event.type.nomtype}}
            <i class="fa-solid fa-xmark delete" onclick="absence('{{event.id}}');"></i>
        </div>
        <div class="card-body">
            <p class="card-text">{{event.type.description}}</p>
            <p class="card-text">Adresse : {{event.lieu.adresseLieu}}</p>
            <p class="card-text size">Le {{event.dateEvent|date("d/m/Y")}}</p>
        </div>
    </div>

    {% endfor %} {% endif %}
</div>
{% if app.user.roles[0] == "ROLE_PROF" %}
<a href="{{path('create_event')}}" class="btn btn-primary mt-5 mb-5"><i class="fa-solid fa-plus"></i> Créer un évènement</a>{% endif %} {% else %}

<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Présentation</h2>
            <h3 class="section-subheading text-muted">Déroulement de l'activité</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                        <img src="assets/img/groupe.png" alt="image">
                    </span>
                <h4 class="my-3">Cours de violon</h4>
                <p class="text-muted">Cette activité sera des cours de violon en groupe pour les personnes débutantes.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                        <img src="assets/img/Violon.png" alt="image">
                    </span>
                <h4 class="my-3">Apprentissage rapide et efficace</h4>
                <p class="text-muted">Nous verrons toutes les bases du violon ainsi que certaines mélodies pour les personnes voulant approfondir leurs compétences.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                        <img src="assets/img/partition.png" alt="image">
                    </span>
                <h4 class="my-3">Solfège</h4>
                <p class="text-muted">Pour les personnes n'ayant jamais étudié le solfège, des activités d'apprentissage de celui-ci seront mises à disposition des adhérants jusqu'à la capacité de lire une partition.</p>
            </div>
        </div>
    </div>
</section>
<footer class="copyright">
    Copyright © Le petit soliste - 2022 - Tous Droits Réservés
</footer>


{% endif %} {% endblock %}