{% extends 'base.html.twig' %} {% block title %}Accueil{% endblock %} {% block body %} {% if app.user %}

<h1>Profil : {{app.user.nom}} {{app.user.prenom}}</h1>
<h2 class="mt-5">Evènement à venir :</h2>
<div class="wrap">
    {% for event in app.user.evenements %}

    <div class="card bg-secondary mb-3 card-me" style="max-width: 20rem;">
        <div class="card-header">{{event.type.nomtype}}</div>
        <div class="card-body">
            <p class="card-text">{{event.dateEvent|date("d/m/Y")}}</p>
            <p class="card-text">{{event.type.description}}</p>
            {% if app.user.roles[0] == "ROLE_PROF" %}
            <a href="{{path('detail', {'id':event.id})}}" class="btn btn-success btn-sm mt-2">Détails</a> {% endif %}
        </div>
    </div>

    {% endfor %}
</div>
{% if app.user.roles[0] == "ROLE_PROF" %}
<a href="{{path('create_event')}}" class="btn btn-primary mt-5"><i class="fa-solid fa-plus"></i> Ajouter un évènement</a>{% endif %} {% else %}

<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Présentation</h2>
            <h3 class="section-subheading text-muted">Déroulement de l'activité</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                        <img src="assets/img/groupe.png" alt="image">
                    </span>
                <h4 class="my-3">Cours de violon</h4>
                <p class="text-muted">Cette activité sera des cours de violon en groupe pour les personnes débutantes.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                        <img src="assets/img/Violon.png" alt="image">
                    </span>
                <h4 class="my-3">Apprentissage rapide et efficace</h4>
                <p class="text-muted">Nous verrons toutes les bases du violon ainsi que certaines mélodies pour les personnes voulant approfondir leurs compétences.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                        <img src="assets/img/partition.png" alt="image">
                    </span>
                <h4 class="my-3">Solfège</h4>
                <p class="text-muted">Pour les personnes n'ayant jamais étudié le solfège, des activités d'apprentissage de celui-ci seront mises à disposition des adhérants jusqu'à la capacité de lire une partition.</p>
            </div>
        </div>
    </div>
</section>
<footer class="copyright">
    Copyright © Le petit soliste - 2022 - Tous Droits Réservés
</footer>



{% endif %} {% endblock %}