{% extends "base.html.twig" %} {% block title %} Edition d'évènement {% endblock title %} {% block body %}
<div class="block_login">

    <h1>Editer un évènement</h1>
    {{form_start(formView)}}
    <div class="col mt-5">{{form_row(formView.type)}}</div>
    <div class="col mt-5">{{form_row(formView.dateEvent)}}</div>
    <div class="col mt-5">{{form_row(formView.lieu)}}</div>
    <button type="submit" class="btn btn-primary mt-5"><i class="fas fa-save"></i> Enregistrer</button> {{form_end(formView)}}

</div>
{% endblock body %}