{% extends 'base.html.twig' %} {% block title %}LPS : Participants {{event.dateEvent}} {{event.type.nomtype}}{% endblock %} {% block body %}

<h2>Participants pour le {{event.type.nomtype}} du {{event.dateEvent}}</h2>
<div class="wrap">
    {% for participant in participants %}
    <div class="card bg-secondary mb-3 card-me" style="max-width: 20rem;">
        <div class="card-header">{{participant.nom}} {{participant.prenom}}</div>
        <div class="card-body">
            <p class="card-text">{{participant.email}}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}