<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{path('home')}}">Le petit soliste</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{{path('home')}}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('type')}}">évènements</a>
                </li>
                {% if app.user and app.user.roles[0] == "ROLE_PROF" %}
                <li>
                    <a class="nav-link" href="{{path('reunions')}}">Réunions</a>
                </li>
                {% endif %} {#
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </li> #}
            </ul>
            <div class="d-flex">
                <ul class="navbar-nav">
                    {% if app.user %}
                    <li class="nav-item info_nav">
                        {{app.user.nom}} {{app.user.prenom}}
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('security_logout') }}" class="btn btn-danger btn-sm">Se déconnecter</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a href="{{ path('security_signup_prof') }}" class="nav-link">Prof Sign-Up</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('security_signup_eleve') }}" class="nav-link">Stud Sign-Up</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('security_login') }}" class="btn btn-success">Sign In</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>